# Ignore node_modules folder
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore .env file if you're using environment variables
.env

# Ignore coverage files
coverage/

# Ignore build artifacts
dist/
build/

# Ignore IDE settings (Optional)
.vscode/
.idea/
.DS_Store

# Ignore other OS-specific or editor-specific files
*.swp
